@import  "./../../assets/yy.jpeg";

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 // color: white;

}

.container {
  border-radius: 20px;
  width: 55vw;
  @media (max-width: 500px) {
    width: 90vw;
  }
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./../../assets/yy.jpeg") 0 0/cover no-repeat;
  -webkit-box-shadow: 4px 4px 8px 1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 1px rgba(34, 60, 80, 0.2);


  h1 {
    font-size: 46px;
    margin-bottom: 15px;
  }
  span {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .input {
    margin-bottom: 25px;
    position: relative;
    width: 260px;

   // border-radius: 5px;

    input {
      -webkit-box-shadow: 3px 6px 9px 4px rgba(34, 60, 80, 0.25);
      -moz-box-shadow: 3px 6px 9px 4px rgba(34, 60, 80, 0.25);
      box-shadow: 3px 6px 9px 4px rgba(34, 60, 80, 0.25);
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      border: none;
      outline: none;
      font-size: 18px;

      &::placeholder {
        font-size: 16px;
      }
    }

    .button {
      position: absolute;
      width: 25px;
     // height: 10px;
     // background-color: red;
      //border-radius: 50%;
      top: 9px;
      right: 5px;
      cursor: pointer;

    }

  }

}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(126, 168, 185, 0.6);
  padding: 10px 32px;
  border-radius: 10px;

  h2 {
    font-size: 34px;
  }

  .icon {

  }

  p{
    font-size: 20px;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.error {
  border-radius: 10px;
  font-size: 20px;
  padding: 15px;
  background-color: rgba(236, 9, 9, 0.86);
}